html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    /* background-image: url(../Images/GameImages/unityBackground.png); */
    background-image: url(../Images/GameImages/gameBackground.jpg);
    background-size:cover;
}

#mainScreen {
    text-align: center;
    margin: auto;
    background-color: blue;
    border-color: black;
    background-size: auto;
    width: 960px;
    height: 600px;
}

#mainContainer {
    height: 100%;
    width: 100%;
    /* background-color: yellow; */
    background-image: url(../Images/GameImages/gameBackground.jpg);
    background-size: cover;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

.section {
    /* background-color: green; */
    float: left;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 33.33%;
}

.game {
    text-align: center;
    margin: auto;
    height: 50%;
}

.gameImage {
    cursor: pointer;
}

#gameButtonContainer {
    padding-top: 25px;
    text-align: center;
}

.buttonDiv {
    display: inline-block;
    padding-left: 25px;
}
.gameButton:hover {
    cursor: pointer;
}
.gameButton {
    border-radius: 8px;
}

.row {
    height: 50%;
}

#test{
    /* background-color: aqua; */
}

.textHolder{
    position: relative;
    background-color: blue;
    border-radius: 10px;
    width: 33.33%;
    margin: auto;
    cursor: pointer;
    animation-fill-mode: forwards;
    text-wrap:nowrap;
}

.textHolder:hover .words {
    animation: decorateText 0.5s forwards;
}

.textHolder:hover .symbol {
    animation: rotate 0.5s forwards;
}

.symbol {
    display: inline-block;
    font-size: larger;
}

.words {
    display: inline-block;
    text-decoration: none;
}

.info {
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: black;
    animation-fill-mode: forwards;
    text-wrap: wrap;
    overflow: auto;
}

@keyframes growWidth {
    from {width: 33.33%;}
    to {width: 75%;}
}

@keyframes shrinkWidth {
    from {width: 75%;}
    to {width: 33.33%;}
}

@keyframes growHeight {
    from {height: 0px;}
    to {height: 200px;}
}

@keyframes shrinkHeight {
    from {height: 200px;}
    to {height: 0px;}
}

@keyframes decorateText {
    from {text-decoration: none;}
    to {text-decoration: underline;}
}

@keyframes rotate {
    from {rotate: 0deg;}
    to {rotate: 180deg;}
}
