body{
    text-align: center;
    margin: 0;
    background-image: url(../Images/GameImages/unityBackground.png);
}

header {
    background-color: red;
    width: 50%;
    margin: auto;
}

#indicator {
    text-align: center;
    background-color: rgb(2, 2, 201);
    position: absolute;
    bottom: 0;
    width: 100vw;
    animation-fill-mode: forwards;
}

/* #indicator:hover {
    cursor: pointer;
} */

@keyframes shiftUp {
    from {bottom: 0;}
    to {bottom: 50%;}
}

@keyframes shiftDown {
    from {bottom: 50%;}
    to {bottom: 0;}
}

@keyframes expand {
    from {transform: scaleY(0);}
    to {transform: scaleY(1);}
}

@keyframes retract {
    from {transform: scaleY(1);}
    to {transform: scaleY(0);}
}

@keyframes spin {
    from {rotate: 0;}
    to {rotate: 180;}
}

#bannerButton {
    background-color: blueviolet;
    /* color: blueviolet; */
}
#bannerButton:hover {
    cursor: pointer;
}
/* #indicator:active {
    animation-name: shiftUp;
    animation-duration: 1s;
} */

#mainScreen {
    text-align: center;
    margin: auto;
    background-color: blue;
    border-color: black;
    background-size: auto;
    width: 960px;
    height: 600px;

    /* background-image: url(../Images/monitor.png); */
}

#mainContainer {
    background-image: url(../Images/GameImages/gameBackground.jpg);
    /* display: none; */
    transform: scaleY(0);
    background-color: orange;
    text-align: center;
    position: absolute;
    height: 1000px;
    width: 100vw;
    animation-fill-mode: forwards;
}


.section {
    /* background-color: green; */
    float: left;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 33.33%;
}

.game {
    text-align: center;
    /* background-color: blue; */
    margin: auto;
    /* width: 50%; */
}

.info {
    background-color: white;
    width: 50%;
    margin: auto;
}

.gameImage {
    cursor: pointer;
}

#gameButtonContainer {
    padding-top: 25px;
    /* position: relative; */
    /* background-color: pink; */
    /* left: 8%; */
}

.buttonDiv {
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
}
.gameButton:hover {
    cursor: pointer;
}
.gameButton {
    border-radius: 8px;
}

.arrow {
    padding-left: 10px;
    padding-right: 10px;
    animation-fill-mode: forwards;
}

.row {
    height: 50%;
}